@keyframes mover-titulo {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes mostrar-boton {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}