.boton {
    text-decoration: none;
    padding: 1rem 3.5rem;
    font-size: 1.4rem;
    display: inline-block;

    @media (min-width: 601px) and (max-width: 900px) {
        padding: 0.5rem 1.5rem;
    }

    &Blanco {
        background-color: transparent;
        border: 1px solid $color-blanco;
        color: $color-blanco;
        animation-name: mostrar-boton;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: backwards;
    }

    &Negro {
        border: 1px solid $color-gris-medio-2;
        color: $color-gris-medio-2;
    }
}