.menu {
    padding: 5rem;

    @media (max-width: 600px) {
        text-align: center;
    }

    &Contenedor {
        @include flex-between;
        margin: 3rem 0;
        gap: 4rem;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    &Item {
        background-image: linear-gradient(to bottom right, rgb(207, 229, 238, .2), rgb(102, 179, 241, .2));
        padding: 2rem 4rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 25rem;

        @media (max-width: 600px) {
            width: 85%;;
            margin: 0 auto;
        }
    }
}